.col-2 {
    background-color: white;
    height: 650px;
}

.nav-item {
    font-weight: bold;
}

.sidebar {
    min-width: 100%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.equip {
    display: flex;
    justify-content: left;
}

.col-4{
    min-height: 300px;
}
.col-4 img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
    max-height: 350px;
}

.col-8{
    justify-content: center;
    color: black;
    font-family: cursive;
}

.ab{
   margin-top: 14px;
}

.row{
    margin: 10px;
    border: 2px solid rgb(155, 149, 149);
    border-radius: 10px;
}

.list{
    margin-top: 20px;
}

.list-group-item{
    margin: 12px 4px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.card{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    width: 18rem;
    padding: 10px;
    margin: 30px 45px;
}

.sidebar_card{
    display: flex;
    flex-wrap: wrap;
    justify-content:safe;
}

.heading{
    background-color: rgb(99, 97, 97);
    color: white;
    text-align: center;
}